<template>
  <div>
  </div>
</template>

<script>

export default {
  name: 'logout',
  created () {
    console.log('salkejfa;lksjf;lksajf;lksajf;lksajf;lkjsaf;lksajfsa')
    this.$store.dispatch('DESTROY_TOKEN').then(() => {
      this.$router.push({name: 'login'})
    })
  }
}
</script>
