<template>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h2>
                Users list
                <button type="button" class="btn btn-success"
                        data-toggle="modal" data-target="#modalEdit"
                        @click="reset()"
                >
                    Create new
                </button>
            </h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in getUsersList">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"
                                    data-toggle="modal" data-target="#modalEdit"
                                    @click="select(user)"
                            >
                                Edit</button>
                            <button type="button" class="btn btn-secondary" @click="deleteUser(user.id)">Remove</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- EDIT Modal -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">{{action}} User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="#" ref="formEdit" @submit.prevent="edit">
                        <div class="modal-body">
                            <input v-model="name" type="text" name="name" placeholder="name">
                            <input v-model="email" type="text" name="email" placeholder="email">
                            <input v-model="password" type="password" name="password" placeholder="password">
                            <input v-model="password_confirmation" type="password" name="password_confirmation" placeholder="password confirmation">
                            <select name="role" v-model="role">
                                <option v-for="(role, index) in getRolesList" :value="role.name">
                                    {{ role.name }}
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" v-if="action=='Update'">Save changes</button>
                            <button type="button" class="btn btn-primary" @click="create" v-if="action=='Create'">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'Dashboard',
    data: () => ({
      name: '',
      email: '',
      role: '',
      password: '',
      password_confirmation: '',
      selectedUser: {},
      action: ''
    }),
    mounted () {
      this.$store.dispatch('GET_USERS');
    },
    computed: {
      ...mapGetters({
        getUsersList: 'getUsersList',
        getRolesList: 'getRolesList'
      }),
      form () {
        return {
          user_id: this.selectedUser.id,
          user: {
            name: this.name,
            email: this.email,
            role_id: this.getRoleId(this.role)['_id'],
            password: this.password,
            password_confirmation: this.password_confirmation
          }
        }
      }
    },
    methods: {
      edit() {
        this.$store.dispatch('UPDATE_USER', this.form);
      },
      create() {
        this.$store.dispatch('CREATE_USER', this.form);
      },
      deleteUser(id) {
        this.$store.dispatch('DELETE_USER', id);
      },
      reset() {
        this.name = ''
        this.email = ''
        this.role = ''
        this.password = ''
        this.password_confirmation = ''
        this.action = 'Create'
      },
      select(user) {
        this.selectedUser = user
        this.name = user.name
        this.email = user.email
        this.role = user.role
        this.action = 'Update'
      },
      getRoleId(roleName) {
        return this.getRolesList.find(element => element.name == roleName)
      }
    }
  }
</script>

<style scoped>

</style>
