<template>
    <div>
        <form action="#" ref="form" @submit.prevent="login">
            <input v-model="email" type="text" name="email" placeholder="email">
            <input v-model="password" type="password" name="password" placeholder="password">
            <input type="submit" value="submit">
        </form>
    </div>
</template>

<script>
  export default {
    name: 'Login',
    data: () => ({
      email: '',
      password: ''
    }),
    computed: {
      form () {
        return {
          email: this.email,
          password: this.password
        }
      }
    },
    methods: {
      login () {
        this.$store.dispatch('LOGIN', this.form).then(() => {
          this.$router.push({name: 'dashboard'})
        })
      },
      reset () {
        this.$refs.form.reset();
      }
    }
  }
</script>

<style scoped>

</style>
