<template>
  <div id="app">
    <div class="container-fluid" v-if="loggedIn">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" :to="{name: 'dashboard'}">Users CRUD</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
          </ul>
          <span class="navbar-text">
            <router-link :to="{name: 'logout'}">Logout</router-link>
          </span>
        </div>
      </nav>

      <router-view/>
    </div>
    <div class="container" v-else>
      loged out
      <router-view/>
    </div>
  </div>
</template>

<script>
  export default {
    mounted () {
      this.$store.dispatch('USER_REQUEST').catch(() => {
        this.$router.push({name: 'login'})
      })
      this.$store.dispatch('GET_ROLES').catch(() => {
        this.$router.push({name: 'login'})
      })
    },
    computed: {
      loggedIn () {
        return this.$store.getters.isAuthenticated
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
